											/*BACKGROUND COLOUR HAS HAD THE "b" removed*/
											/* applies to everything */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: ;
}
html {
	font-size: 16px;
}

											/* applies to the body */
body {
	background-color: #0d101b;
	/*final background colour just add the #*/
	background-color: B8EAFF;
}

											/* changing the font of the website */
body, h1,h2,h3,h4,h5,h6,p,a {
	font-family: "Raleway";
	color: ghostwhite;
	/*f8f8ff*/
}
h1,h2,h3,h4,h5,h6,p {
	background-color: ;
}
											/* applies to the container that contains the sections 
											also applies the snap scrolling to the website*/
.Container {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
}

											/* applies to all sections */
section {
	height: 100vh;
	scroll-snap-align: start;
}
section h1 {
	color: ghostwhite;
	text-shadow: 1px 1px 4px #000;
}

/* All has been built for a mobile screen width:360 */

/* Navigation Bar Needs to be redone*/
.Nav {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1rem;
  min-width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */


.TopBar {
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
}
/* Style navigation menu links */
.TopBar #Links {
	display: none;
	margin: 0 auto;
}
.TopBar .Links {
  flex-direction: column;
  align-items: center;
	text-align: center;
}
.TopBar .Links a {
  color: white;
  padding: 1rem 1rem 1rem 1rem;
}

/* Style the hamburger menu */


/* Add a grey background color on mouse-over */
.TopBar a:hover {
  background-color: #1AA1DB;
  color: black;
}

/* Style the active link (or home/logo) */
.Active {
  background-color: #1AA1DB;
  color: white;
  font-size: 2rem;
}

/*
rgb(255, 82, 119) pink #ff5277
rgb(46, 48, 73) dark blue #2e3049
rgb(196, 196, 213) light gray #c4c4d5
rgb(107, 111, 152) blue gray #6b6f98
																						/*topbar section*/
.TopBar {
	display: flex;
	justify-content: space-between;
}
																						/*hero section*/
.Hero {
	ackground-color: dimgray;
	max-width: 100%;
	text-align: center;
	font-size: 2rem;
	padding: 0rem 1rem 1rem 1rem;

}

#Home {

}

.Sub {
	ackground-color: green;
	min-width: 100%;
	text-align: center;
  padding: 0rem 1rem 1rem 1rem;

}

.Buttons {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	ackground-color: yellow;
}

.Buttons a {
	color: ghostwhite;
	text-decoration: none;
	background-color: #1AA1DB;
	width: 75%;
	max-width: 1000px;
	padding: 1rem 1rem 1rem 1rem;
	margin: 1rem 1rem 1rem 1rem;


}
.Geo {
	display: none;
}

																				/*About section*/
.About {
	ackground-color: blueviolet;
	text-align: center;
	padding: 1rem 1rem 0rem 1rem;
}

.Info{
	ackground-color: orange;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 1rem 1rem 1rem;
}

.Info .ProfilePic {
		width: 60%;
}
.Info .InfoText {
	width: 75%;
	padding: 1rem 0rem 0rem 0rem;

}

																			/*portfolio section*/
.Portfolio {
	ackground-color: darkred;
	text-align: center;
	padding: 1rem 1rem 1rem 1rem;
}
																			/*everything except create scroll disabled*/
.Tech {
	ackground-color: purple;
	text-align: left;
	padding: 1rem 1rem 1rem 3rem;
}
.TechScroll {
		/*to return techscroll change display to flex*/
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	padding: 1rem 1rem 1rem 1rem;
	align-items: center;
}
.Create {
	ackground-color: blue;
	text-align: left;
	padding: 1rem 1rem 1rem 3rem;
}
.CreateScroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 1rem 1rem 1rem 1rem;
}

.card {
	flex: 0 0 auto;
	padding: 0rem 1rem 0rem 1rem;
}

																/*Contact section*/
.Contact {
	ackground-color: crimson;
	text-align: center;
	padding: 1rem 1rem 1rem 1rem;
}
.ContactSub {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0rem 1rem 1rem 1rem;
}
.ContactSub p {
	width: 75%;
}
.DropDown {
	ackground-color: darkseagreen;
	text-align: left;
	padding: 0rem 1rem 1rem 1rem
}
.DropDown details{
	ackground-color: darkseagreen;
	text-align: left;
	margin: 1rem 1rem 1rem 1rem;		
	font-size: 1.5rem;
  background-color: #1AA1DB;
}
.DropDown summary{
	ackground-color: darkseagreen;
	text-align: left;
	margin: 0rem 1rem 0rem 1rem;		
	font-size: 1.5rem;
  background-color: #1AA1DB;
}
.DropDown p{
	ackground-color: darkseagreen;
	text-align: left;
	padding: 1rem 1rem 1rem 1rem;		
	font-size: 1rem;
  background-color: #1AA1DB;
  word-wrap: break-word;
  width: 100%;
}

.ContactInfo {
	display: none;
}
.ContactCard {

}
.ContactIcons {
}



/*different size browser area*/





																																/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.Nav {
  	overflow: hidden;
  	position: relative;
  	display: flex;
  	justify-content: space-between;
  	padding: 1rem 1rem 1rem 1rem;
  	min-width: 100%;
	}

/* Hide the links inside the navigation menu (except for logo/home) */


	.TopBar {
		display: flex;
		align-items: center;
		text-align: center;
		width: 100%;
	}
	/* Style navigation menu links */
	.TopBar #Links {
		display: none;
		margin: 0 auto;
	}
	.TopBar .Links {
	  flex-direction: column;
	  align-items: center;
		text-align: center;
	}
	.TopBar .Links a {
	  color: white;
	  padding: 1rem 1rem 1rem 1rem;
	}

	/* Style the hamburger menu */


	/* Add a grey background color on mouse-over */
	.TopBar a:hover {
	  background-color: #1AA1DB;
	  color: black;
	}

	/* Style the active link (or home/logo) */
	.Active {
	  background-color: #1AA1DB;
	  color: white;
	  font-size: 2rem;
	}

	/*
	rgb(255, 82, 119) pink #ff5277
	rgb(46, 48, 73) dark blue #2e3049
	rgb(196, 196, 213) light gray #c4c4d5
	rgb(107, 111, 152) blue gray #6b6f98
																							/*topbar section*/
	.TopBar {
		display: flex;
		justify-content: space-between;
	}
																							/*hero section*/
	.Hero {
		ackground-color: dimgray;
		max-width: 100%;
		text-align: center;
		font-size: 2rem;
		padding: 0rem 1rem 1rem 1rem;

	}

	#Home {

	}

	.Sub {
		ackground-color: green;
		min-width: 100%;
		text-align: center;
	  padding: 0rem 1rem 1rem 1rem;

	}

	.Buttons {
		font-size: 1.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		ackground-color: yellow;
	}

	.Buttons a {
		color: ghostwhite;
		text-decoration: none;
		background-color: #1AA1DB;
		width: 75%;
		max-width: 1000px;
		padding: 1rem 1rem 1rem 1rem;
		margin: 1rem 1rem 1rem 1rem;


	}
	.Geo {
		display: none;
	}

																					/*About section*/
	.About {
		ackground-color: blueviolet;
		text-align: center;
		padding: 1rem 1rem 0rem 1rem;
	}

	.Info{
		ackground-color: orange;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem 1rem 1rem 1rem;
	}

	.Info .ProfilePic {
			width: 60%;
	}
	.Info .InfoText {
		width: 75%;
		padding: 1rem 0rem 0rem 0rem;

	}

																				/*portfolio section*/
	.Portfolio {
		ackground-color: darkred;
		text-align: center;
		padding: 1rem 1rem 1rem 1rem;
	}
																				/*everything except create scroll disabled*/
	.Tech {
		ackground-color: purple;
		text-align: left;
		padding: 1rem 1rem 1rem 3rem;
	}
	.TechScroll {
			/*to return techscroll change display to flex*/
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		padding: 1rem 1rem 1rem 1rem;
		align-items: center;
	}
	.Create {
		ackground-color: blue;
		text-align: left;
		padding: 1rem 1rem 1rem 3rem;
	}
	.CreateScroll {
	  display: flex;
	  flex-wrap: nowrap;
	  overflow-x: auto;
	  padding: 1rem 1rem 1rem 1rem;
	}

	.card {
		flex: 0 0 auto;
		padding: 0rem 1rem 0rem 1rem;
	}

																	/*Contact section*/
	.Contact {
		ackground-color: crimson;
		text-align: center;
		padding: 1rem 1rem 1rem 1rem;
	}
	.ContactSub {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0rem 1rem 1rem 1rem;
	}
	.ContactSub p {
		width: 75%;
	}
	.DropDown {
		ackground-color: darkseagreen;
		text-align: left;
		padding: 0rem 1rem 1rem 1rem
	}
	.DropDown details{
		ackground-color: darkseagreen;
		text-align: left;
		margin: 1rem 1rem 1rem 1rem;		
		font-size: 1.5rem;
	  background-color: #1AA1DB;
	}
	.DropDown summary{
		ackground-color: darkseagreen;
		text-align: left;
		margin: 0rem 1rem 0rem 1rem;		
		font-size: 1.5rem;
	  background-color: #1AA1DB;
	}
	.DropDown p{
		ackground-color: darkseagreen;
		text-align: left;
		padding: 1rem 1rem 1rem 1rem;		
		font-size: 1rem;
	  background-color: #1AA1DB;
	  word-wrap: break-word;
	  width: 100%;
	}

}

																												/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.Nav {
  	overflow: hidden;
  	position: relative;
  	display: flex;
  	justify-content: space-between;
  	padding: 1rem 1rem 1rem 1rem;
  	min-width: 100%;
	}

/* Hide the links inside the navigation menu (except for logo/home) */


	.TopBar {
		display: flex;
		align-items: center;
		text-align: center;
		width: 100%;
	}
	/* Style navigation menu links */
	.TopBar #Links {
		display: none;
		margin: 0 auto;
	}
	.TopBar .Links {
	  flex-direction: column;
	  align-items: center;
		text-align: center;
	}
	.TopBar .Links a {
	  color: white;
	  padding: 1rem 1rem 1rem 1rem;
	}

	/* Style the hamburger menu */


	/* Add a grey background color on mouse-over */
	.TopBar a:hover {
	  background-color: #1AA1DB;
	  color: black;
	}

	/* Style the active link (or home/logo) */
	.Active {
	  background-color: #1AA1DB;
	  color: white;
	  font-size: 2rem;
	}

	/*
	rgb(255, 82, 119) pink #ff5277
	rgb(46, 48, 73) dark blue #2e3049
	rgb(196, 196, 213) light gray #c4c4d5
	rgb(107, 111, 152) blue gray #6b6f98
																							/*topbar section*/
	.TopBar {
		display: flex;
		justify-content: space-between;
	}
																							/*hero section*/
	.Hero {
		ackground-color: dimgray;
		max-width: 100%;
		text-align: center;
		font-size: 2rem;
		padding: 0rem 1rem 1rem 1rem;

	}

	#Home {

	}

	.Sub {
		ackground-color: green;
		min-width: 100%;
		text-align: center;
	  padding: 0rem 1rem 1rem 1rem;

	}

	.Buttons {
		font-size: 1.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		ackground-color: yellow;
	}

	.Buttons a {
		color: ghostwhite;
		text-decoration: none;
		background-color: #1AA1DB;
		width: 75%;
		max-width: 1000px;
		padding: 1rem 1rem 1rem 1rem;
		margin: 1rem 1rem 1rem 1rem;


	}
	.Geo {
		display: none;
	}

																					/*About section*/
	.About {
		ackground-color: blueviolet;
		text-align: center;
		padding: 1rem 1rem 0rem 1rem;
	}

	.Info{
		ackground-color: orange;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem 1rem 1rem 1rem;
	}

	.Info .ProfilePic {
			width: 60%;
	}
	.Info .InfoText {
		width: 75%;
		padding: 1rem 0rem 0rem 0rem;

	}

																				/*portfolio section*/
	.Portfolio {
		ackground-color: darkred;
		text-align: center;
		padding: 1rem 1rem 1rem 1rem;
	}
																				/*everything except create scroll disabled*/
	.Tech {
		ackground-color: purple;
		text-align: left;
		padding: 1rem 1rem 1rem 3rem;
	}
	.TechScroll {
			/*to return techscroll change display to flex*/
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		padding: 1rem 1rem 1rem 1rem;
		align-items: center;
	}
	.Create {
		ackground-color: blue;
		text-align: left;
		padding: 1rem 1rem 1rem 3rem;
	}
	.CreateScroll {
	  display: flex;
	  flex-wrap: nowrap;
	  overflow-x: auto;
	  padding: 1rem 1rem 1rem 1rem;
	}

	.card {
		flex: 0 0 auto;
		padding: 0rem 1rem 0rem 1rem;
	}

																	/*Contact section*/
	.Contact {
		ackground-color: crimson;
		text-align: center;
		padding: 1rem 1rem 1rem 1rem;
	}
	.ContactSub {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0rem 1rem 1rem 1rem;
	}
	.ContactSub p {
		width: 75%;
	}
	.DropDown {
		ackground-color: darkseagreen;
		text-align: left;
		padding: 0rem 1rem 1rem 1rem
	}
	.DropDown details{
		ackground-color: darkseagreen;
		text-align: left;
		margin: 1rem 1rem 1rem 1rem;		
		font-size: 1.5rem;
	  background-color: #1AA1DB;
	}
	.DropDown summary{
		ackground-color: darkseagreen;
		text-align: left;
		margin: 0rem 1rem 0rem 1rem;		
		font-size: 1.5rem;
	  background-color: #1AA1DB;
	}
	.DropDown p{
		ackground-color: darkseagreen;
		text-align: left;
		padding: 1rem 1rem 1rem 1rem;		
		font-size: 1rem;
	  background-color: #1AA1DB;
	  word-wrap: break-word;
	  width: 100%;
	}

}

																																	/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
		.Nav {
		display: none;
	}
	.TopBar {
		display: flex;
		text-align: left;
		align-items: flex-start;
		padding: 0rem 0rem 0rem 3rem;
	}
	.TopBar #Links {
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.TopBar .Links {
	  flex-direction: column;
	  align-items: center;
		text-align: center;
	}
	.TopBar .Links a {
	  color: white;
	  padding: 1rem 1rem 1rem 1rem;
	  font-size: 1.5rem;
	}
	.Hero {
		ackground-color: dimgray;
		max-width: 100%;
		text-align: left;
		font-size: 4rem;
		padding: 6rem 1rem 1rem 3rem;
		line-height: 8rem;
	}

	#Home {
		max-width: 50%;
	}

	.Sub {
		ackground-color: green;
		min-width: 100%;
		text-align: left;
  	padding: 0rem 1rem 1rem 3rem;
  	font-size: 1.5rem;
	}

	.Buttons {
		font-size: 1.5rem;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		text-align: center;
		ackground-color: yellow;
		padding: 0rem 0rem 0rem 2rem;
	}	

	.Buttons a {
		color: ghostwhite;
		text-decoration: none;
		background-color: #1AA1DB;
		width: 75%;
		max-width: 300px;
		padding: 1rem 1rem 1rem 1rem;
		margin: 1rem 1rem 1rem 1rem;
	}

	.Geo {
		display: inline-block;
		max-width: 23%;
		position: absolute;
		top: 0px;
		right: 0px;
	}

																				/*About section*/
	.About {
		ackground-color: blueviolet;
		text-align: left;
		padding: 12rem 1rem 0rem 3rem;
		font-size: 2.5rem;
	}

	.Info{
		/*ackground-color: orange;
		text-align: left;
		isplay: flex;
		lex-direction: column-reverse;
		lign-items: flex-start;*/
		display: flex;
		flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
		/*padding: 1rem 1rem 1rem 3rem;
		idth: 100%;*/
		font-size: 2rem;
	}

	.Info .ProfilePic {
		eight: 10%;
		max-width: 25%;
		osition: absolute;
		op: 0px;
		ight: 10%;
		float: left;
	}

	.Info .InfoText {
		width: 50%;
		padding: 1rem 0rem 0rem 0rem;
		irection: ltr;
		float: left;
		text-align: left;
	}

																			/*portfolio section*/
	.Portfolio {
		ackground-color: darkred;
		text-align: left;
		padding: 12rem 1rem 1rem 3rem;
		font-size: 2.5rem;
	}
																			/*everything except create scroll disabled*/
	.Tech {
		ackground-color: purple;
		text-align: left;
		padding: 1rem 1rem 1rem 3rem;
	}
	.TechScroll {
	  display: flex;
	  flex-wrap: nowrap;
	  overflow-x: auto;
	  padding: 1rem 1rem 1rem 1rem;
	  align-items: center;
	}
	.Create {
		ackground-color: blue;
		text-align: left;
		padding: 1rem 1rem 1rem 3rem;
	}
	.CreateScroll {
	  display: flex;
	  flex-wrap: wrap;
	  padding: 1rem 1rem 1rem 1rem;
	}

	.card {
		flex: 0 0 auto;
		padding: 1rem 1rem 1rem 1rem;
	}

																	/*Contact section*/
	.Contact {
		ackground-color: crimson;
		text-align: left;
		padding: 12rem 1rem 1rem 3rem;
		font-size: 2.5rem;
	}
	.ContactSub {
		text-align: left;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0rem 1rem 1rem 3rem;
		font-size: 1.5rem;
	}
	.ContactSub p {
		width: 50%;
	}
	.DropDown {
		ackground-color: darkseagreen;
		text-align: left;
		padding: 0rem 1rem 1rem 2rem;
		display: none;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.DropDown details{
		ackground-color: darkseagreen;
		text-align: left;
		margin: 1rem 1rem 1rem 1rem;		
		font-size: 1.5rem;
	  background-color: #1AA1DB;
	  min-width: 200px;
	}
	.DropDown summary{
		ackground-color: darkseagreen;
		text-align: left;
		margin: 0rem 1rem 0rem 1rem;		
		font-size: 1.5rem;
	  background-color: #1AA1DB;
	  min-width: 200px;
	}
	.DropDown p{
		ackground-color: darkseagreen;
		text-align: left;
		padding: 1rem 1rem 1rem 1rem;		
		font-size: 1rem;
	  background-color: #1AA1DB;
	  word-wrap: break-word;
	}
	.ContactInfo {
		display: flex;
		width: 100%;
		align-items: center;
		ustify-content: center;
		padding: 1rem 1rem 1rem 1rem;	
		flex-wrap: wrap;
	}
	.ContactCard {
		background: #1AA1DB;
		padding: 0rem 1rem 0rem 1rem;
		margin: 1rem 1rem 1rem 1rem;
		min-width: calc(20%);
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		word-wrap: break-word;
		
	}
	.ContactIcons {
		font-size: 2rem;
		background-color: #0d101b;
		width: 60px;
		height: 60px;
		text-align: center;
		line-height: 60px !important;
		border-radius: 50%;
		transition: 0.3s linear;
	}
	.ContactCard:hover .ContactIcons{
		background: none;
		color: #0d101b;
		transform: scale(1.6);
	}
	.ContactCard p,a {
		opacity: 0;
		transition: 0.3s linear;
		white-space: normal;
	}
	.ContactCard:hover p,a {
		opacity: 1;
		padding: 1rem 0rem 0rem 0rem;

	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}