											/* applies to everything */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: ;
}
html {
	font-size: 16px;
}

											/* applies to the body */
body {
	background-color: #0d101b;
	/*final background colour just add the #*/
	background-color: B8EAFF;
}

											/* changing the font of the website */
body, h1,h2,h3,h4,h5,h6,p,a {
	font-family: "Raleway";
	color: ghostwhite;
}
h1,h2,h3,h4,h5,h6,p {
	background-color: ;
}
											/* applies to the container that contains the sections 
											also applies the snap scrolling to the website*/
.Container {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
}

											/* applies to all sections */
section {
	height: 100vh;
	scroll-snap-align: start;
}
section h1 {
	color: ghostwhite;
	text-shadow: 1px 1px 4px #000;
}

/* Navigation Bar Needs to be redone*/
.Nav {
  overflow: hidden;
  background-color: #ff5277;
  position: relative;
  /*remove when done*/
  display: none;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.Nav #Links {
  display: none;
}

/* Style navigation menu links */
.Nav .Links a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Style the hamburger menu */


/* Add a grey background color on mouse-over */
.Nav a:hover {
  background-color: #ff5277;
  color: black;
}

/* Style the active link (or home/logo) */
.Active {
  background-color: #0d101b;
  color: white;
  font-size: 2rem;
}

/*
rgb(255, 82, 119) pink #ff5277
rgb(46, 48, 73) dark blue #2e3049
rgb(196, 196, 213) light gray #c4c4d5
rgb(107, 111, 152) blue gray #6b6f98
																						/*topbar section*/
.TopBar {
	display: flex;
	justify-content: space-between;
}
																						/*hero section*/
.Hero {
	background-color: dimgray;
	min-width: 100%;
	text-align: center;
	font-size: 2rem;
}

#Home {

}

.Sub {
	background-color: green;
	min-width: 100%;
	text-align: center;
}

.Buttons {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: yellow;
}

.Buttons a {
	color: ghostwhite;
	text-decoration: none;
	background-color: #ff5277;
	width: 75%;
	max-width: 1000px;
}

																				/*About section*/
.About {
	background-color: blueviolet;
	text-align: center;
}

.Info{
	background-color: orange;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Info p {
	width: 75%;
}

																			/*portfolio section*/
.Portfolio {
	background-color: darkred;
	text-align: center;
}
.Tech {
	background-color: purple;
	text-align: center;
}
.TechScroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.Create {
	background-color: blue;
	text-align: center;
}
.CreateScroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
	flex: 0 0 auto;
}

																/*Contact section*/
.Contact {
	background-color: crimson;
	text-align: center;
}
.ContactSub {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ContactSub p {
	width: 75%;
}
.DropDown {
	background-color: darkseagreen;
	text-align: center;
}